<div id="crown" > </div > <div id="trunk" > </div > <style > body {
  background: linear-gradient(
    #1e92ff 180px,
    #69d10a 180px 220px,
    #6f6100 220px
  );
  margin: 60px 40px;
}
#crown {
  width: 40px;
  height: 40px;
  background: #69d10a;
  border-radius: 50%;
  box-shadow: -20px 20px, 0px 20px, 20px 20px, 270px 70px, 270px 90px;
  color: #69d10a;
  translate: 0px;
}
#trunk {
  width: 20px;
  height: 80px;
  background: #441a0a;
  margin-left: 10px;
}
