<div>
  <div id="yellowInner">
    <div id="inner"></div>
  </div>
</div>
<style>
  body {
    background: radial-gradient(circle, #FCBE5C 90px, #998235 90px);
  }
  body, div {
    display: grid;
    place-content: center;
  }
  div {
    width: 140px;
    height: 140px;
    background: #0B2429;
    border-radius: 50%;
    translate: 10px;
  }
  #inner {
    width: 60px;
    height: 60px;
    background: #998235;
  }
  #yellowInner {
    width: 100px;
    height: 100px;
    background: #FCBE5C;
    translate: -10px;
  }
</style>