<div > </div > <div id="bottom" > </div > <style > body {
  background: #926927;
  display: flex;
  justify-content: end;
  margin: 0px;
}
div {
  width: 100px;
  height: 100px;
  border: 40px solid #6d480a;
  border-radius: 50%;
  position: absolute;
  translate: -10px -50%;
}
#bottom {
  translate: 50% 10px;
  box-shadow: 15px -20px #6d480a;
}
