<div
  id="a"
  > <div
  > </div
  > <div
  > </div
  > <div
  > </div
  > <div
  > </div
  > <div
  > </div
  > </div
  > <div
  id="b"
  > </div
  > <div
  id="c"
  > </div
  > <div
  id="d"
  > </div
  > <div
  id="e"
  > </div
  > <p
  > </p
  > <style
  > body {
  background: #62306d;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 5px;
}
div {
  background: #f7ec7d;
}
p {
  position: absolute;
  width: 120px;
  height: 136px;
  background: #62306d;
  border-radius: 50%;
  translate: -80px -5px;
  z-index: -1;
  box-shadow: 160px 0px #62306d;
}
#a {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  background: linear-gradient(transparent 50%, #f7ec7d 50%);
}
#b {
  height: 10px;
  width: 60px;
  border-radius: 5px;
}
#c {
  width: 90px;
  height: 65px;
  z-index: -2;
}
#d {
  height: 10px;
  width: 110px;
  border-radius: 5px;
}
#e {
  height: 25px;
  width: 140px;
  border-radius: 20px 20px 10px 10px;
}
#a > div:nth-of-type(odd) {
  width: 10px;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
}
#a > div:nth-of-type(even) {
  background: #62306d;
  width: 30px;
  height: 45px;
  border-radius: 5px;
}
