<div > </div > body {
  background: #62306d;
  display: grid;
  place-content: center;
}
div {
  width: 120px;
  height: 120px;
  border: 40px solid #f7ec7d;
  border-radius: 50%;
  border-top-color: #e38f66;
  rotate: -45deg;
}
