<div
  id="outer"
  > <div
  > </div
  > <div
  id="yellow"
  > </div
  > </div
  > <style
  > body {
  background: #998235;
  display: grid;
  place-content: center;
}
#outer {
  rotate: -45deg;
  margin-top: 50px;
}
div > div {
  width: 140px;
  height: 70px;
  background: #0b2429;
}
#yellow {
  background: #fcbe5c;
  width: 70px;
  translate: 70px;
}
