<div id="topLeft" > </div > <div > </div > <div > </div > <style > body {
  background: #d669ec;
  display: grid;
  place-content: center;
  grid-template-columns: 100px 100px;
  gap: 20px;
}
div {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    135deg,
    #c261d5 33px,
    #fdfbf8 33px 108.5px,
    #d669ec 0px
  );
}
#topLeft {
  rotate: 90deg;
}
