<div
  > </div
  > <div
  id="orange"
  > </div
  > <div
  id="white"
  > </div
  > <style
  > body {
  background: #73c6ea;
  display: grid;
  place-items: center;
}
div {
  position: absolute;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 180px solid #0d1335;
}
#orange {
  border-bottom: 140px solid #dc6638;
  margin-top: 40px;
}
#white {
  border-bottom: 100px solid #fbfae2;
  margin-top: 80px;
}
