<div
  id="crown"
  > </div
  > <div
  id="brim"
  > <div
  > </div
  > </div
  > <div
  id="yellow"
  > </div
  > <style
  > body {
  background: #f4dcbf;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-rows: 140px 50px;
}
div {
  background: #30383f;
}
#crown {
  border-left: 44px solid #f4dcbf;
  border-right: 44px solid #f4dcbf;
  border-bottom: 150px solid #30383f;
}
#brim,
#brim > div {
  height: 60px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}
#brim > div {
  border: 10px solid #556d7f;
  translate: -10px -45px;
}
#yellow {
  width: 30px;
  height: 20px;
  background: #fbd038;
  position: absolute;
  translate: 0px 70px;
  border-radius: 5px;
}
