<div
  id="left"
  > </div
  > <div
  id="center"
  > <div
  > </div
  > <div
  > </div
  > <div
  > </div
  > <div
  > </div
  > <div
  > </div
  > </div
  > <div
  id="right"
  > </div
  > <style
  > body {
  background: #cbe8dd;
}
body,
div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#center {
  width: 180px;
  height: 100px;
  background: #007192;
  border-radius: 10px;
}
#center > div {
  width: 10px;
  height: 110px;
  background: #cbe8dd;
  rotate: 20deg;
}
#left,
#right {
  width: 30px;
  height: 80px;
  background: #007192;
  clip-path: polygon(0 0, 100% 37.5%, 100% 62.5%, 0 100%);
}
#right {
  rotate: 180deg;
}
