<div
  id="yellow"
  > </div
  > <div
  id="earth"
  > <div
  id="white"
  > </div
  > </div
  > <style
  > body {
  background: #009b3a;
  display: grid;
  place-items: center;
}
#yellow {
  width: 300px;
  height: 200px;
  background: #fedf00;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
div {
  position: absolute;
}
#earth {
  width: 120px;
  height: 120px;
  background: #002776;
  border-radius: 50%;
  overflow: hidden;
}
#white {
  border: 10px solid #ffffff;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  translate: -73px 30px;
}
