<div
  id="circle"
  > </div
  > <div
  > </div
  > <div
  id="a"
  > </div
  > <div
  id="b"
  > </div
  > <style
  > body {
  background: linear-gradient(#f19e4b 100px, #ffffff 100px 200px, #3f8627 0);
  display: grid;
  place-items: center;
}
div {
  position: absolute;
  width: 4px;
  height: 70px;
  background: #00007b;
}
#a {
  rotate: 60deg;
}
#b {
  rotate: 120deg;
}
#circle {
  width: 80px;
  height: 80px;
  background: radial-gradient(#00007b 10px, #ffffff 10px 30px, #00007b 0);
  border-radius: 50%;
}
