<div > </div > <style > body {
  background: #40234b;
  display: grid;
  place-items: center;
}
div {
  width: 230px;
  height: 200px;
  background: linear-gradient(
    120deg,
    #a94ea4 14.5px,
    #40234b 0 24.5px,
    #a94ea4 0 40.5px,
    #40234b 0 50.5px,
    #a94ea4 0 66.5px,
    #40234b 0 76.5px,
    #a94ea4 0 92.5px,
    #40234b 0 102.5px,
    #a94ea4 0 118.5px,
    #40234b 0 128.5px,
    #a94ea4 0 144.5px,
    #40234b 0 154.5px,
    #a94ea4 0 170.5px,
    #40234b 0 180.5px,
    #a94ea4 0 190px
  );
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
