<div > </div > <div id="right" > </div > <style > body {
  background: #e3516e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
div {
  width: 130px;
  height: 150px;
  background: #fade8b;
  display: grid;
  justify-items: center;
  align-content: end;
  clip-path: polygon(0 0, 67% 0, 100% 46%, 100% 100%, 0 100%);
}
#right {
  clip-path: polygon(0 46%, 33% 0, 100% 0, 100% 100%, 0 100%);
}
div:before,
div:after {
  content: "";
  display: block;
}
div:before {
  border-left: 25px solid #fade8b;
  border-right: 25px solid #fade8b;
  border-bottom: 40px solid #e3516ef8;
}
div:after {
  background: #e3516e;
  width: 20px;
  height: 50px;
}
