<div > </div > <style > body {
  background: #1d471d;
  display: grid;
  place-content: center;
}
div {
  width: 280px;
  height: 150px;
  background: #cce58e;
  clip-path: polygon(
    33% 38%,
    21% 42%,
    0 0,
    41.5% 11%,
    50% 33%,
    58.5% 11%,
    100% 0,
    79% 42%,
    67% 38%,
    69% 61%,
    50% 100%,
    31% 62%
  );
}
