<div
  class="outer"
  > <div
  > </div
  > </div
  > <div
  class="outer"
  id="bottomLeft"
  > <div
  > </div
  > </div
  > <div
  class="outer"
  id="bottomRight"
  > <div
  > </div
  > </div
  > <style
  > body {
  background: #4fa07b;
  display: grid;
  place-items: center;
}
div {
  background: #4fa07b;
  border-radius: 70px 70px 0px 0px;
  border: 20px solid #0d1335;
  border-bottom: none;
}
.outer {
  position: absolute;
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-content: end;
  translate: 0px -70px;
}
div > div {
  width: 21px;
  height: 60px;
}
#bottomLeft {
  translate: -61px 30px;
}
#bottomRight {
  translate: 60px 30px;
}
#bottomLeft:before,
#bottomRight:before {
  content: "";
  display: block;
  background: #4b9d78;
  width: 20px;
  height: 60px;
}
#bottomLeft:before {
  translate: -40px 137px;
  box-shadow: 40px -37px #0d1335, 80px -17px #0c1233, 120px 3px #0d1335,
    160px -17px #0d1335, 200px -37px #0d1335;
}
#bottomRight:before {
  translate: 80px 137px;
}
