<p > <i > </i > <dl > <a > * {
  background: var(--b, #131313);
  color: #131313;
  margin: 0;
  position: fixed;
  p {
    --b: #f9c96c;
    width: 240px;
    height: 190px;
    border-radius: 145Q 145Q 265Q 265Q;
    rotate: -15deg;
    margin: 55px 80px;
    overflow: hidden;
  }
  i {
    --b: #f459e3;
    padding: 150px;
    border-radius: 9in;
    top: -45px;
    left: -130px;
    box-shadow: 42Q 10Q #e89a52;
  }
  dl {
    --b: n;
    border: solid;
    border-width: 0 15px 15px;
    margin: 160px 100px;
    width: 50px;
    height: 25px;
    border-radius: 0 0 9in 9in;
    -webkit-box-reflect: right 5vh;
  }
  a {
    --b: #131313;
    margin: -8px -15px;
    border-radius: 9in;
    padding: 8Q;
    -webkit-box-reflect: right 50px;
  }
}
