<p > <p > <p t > <p r > <p r t > * {
  background: #90d3a6;
  * {
    background: #0b4d1f;
    margin: 60px 190px;
    border-radius: 9in;
  }
  p {
    position: fixed;
    height: 20px;
    width: 200px;
    margin: 160px -90px;
  }
  p + p {
    position: fixed;
    height: 20px;
    width: 65px;
    margin: 96px -47px;
    rotate: 30deg;
  }
  [t] {
    margin-top: 46px;
  }
  [r] {
    margin-left: 1px;
    rotate: -30deg;
  }
}
