<p > <p > * {
  background: #8b0051;
  body {
    background: #fad3e5;
    margin: 0 225px 0 0;
    -webkit-box-reflect: right 50px;
    padding: 28px 75px;
  }
  p {
    position: fixed;
    height: 124px;
    width: 125px;
    margin: 0;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
  }
  p + p {
    top: 148px;
  }
}
