<p > <dl > <p > <dl > < > * {
  background: var(--b, #4f77ff);
  border-radius: 9in;
  margin: 0;
  body {
    margin: 50px 100px;
    --b: #1038bf;
    padding: 30px;
  }
  p {
    --b: #4f77ff;
    position: fixed;
    height: 90px;
    width: 30px;
    top: 20px;
    left: 185px;
  }
  dl {
    --b: linear-gradient(#4f77ff 52px, 0, #1038bf);
    height: 58px;
    overflow: hidden;
    padding: 82px 0 0;
    & p {
      top: 140px;
      height: 20px;
      width: 20px;
      left: 190px;
    }
    & dl {
      height: 100px;
      border-radius: 0 10px;
      --b: #4f77ff;
      width: 56px;
      -webkit-box-reflect: right 30px;
    }
  }
}
