<div id="orange"></div>
<div id="blue"></div>
<style>
  body {
    background: #222;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
  }
  div {
    width: 80px;
    height: 30px;
    rotate: 45deg;
    position: relative;
  }
  #orange {
    background: #F2994A;
    left: 3px;
    border-radius: 0px 5px 0px 10px;
  }
  #blue {
    background: #2D9CDB;
    right: 5px;
    bottom: 1px;
    border-radius: 0px 10px 0px 5px;
  }
  div:before {
    content: "";
    display: block;
    width: 30px;
    height: 90px;
    position: relative;
  }
  #orange:before {
    background: #F2994A;
    bottom: 70px;
  }
  #blue:before {
    background: #2D9CDB;
    left: 50px;
    top: 10px;
  }
</style>