<div class="tl"></div>
<div class="bl"></div>
<div class="t2"></div>
<div class="b2"></div>
<style>
  body{
    background:#998235;
    margin:0;
  }
  div{
    position: absolute;
  }
  .tl{
  width: 80px;
    height: 100px;
    background: #1a4341;
    border-radius: 0 50px 0 50px;
    top: 60px;
    left: 110px;  
  }
.t2{
  width: 80px;
  height: 60px;
  background:#f3ac3c;
  border-radius: 50px 0% 50px 0%;
  top: 60px;
  right: 110px;
}
   .bl {
    left: 110px;
    bottom: 60px;
    background: #f3ac3c;
    height: 60px;
    width: 80px;
    border-radius: 0 50px;
  }
  .b2 {
    height: 100px;
    width: 80px;
    border-radius: 50px 0;
    background: #1a4341;
    bottom: 60px;
    right: 110px;
  }
</style>