<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<style>
  body{
    background: #1A4341;
    display:grid;
    place-content:center;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
  }
  div {
    width: 50px;
    height: 50px;
    background: #998235;
    border-radius: 50%;
  }
  div:nth-of-type(even){
        background: #F3AC3C;
  }
   div:nth-of-type(2), div:nth-of-type(3) {
    border-radius: 50% 50% 0px 0px;
     }
  div:nth-of-type(5), div:nth-of-type(6) {
    border-radius: 0px 0px 50% 50%;
  }
   div:nth-of-type(5) {
    order: 1;
  }
  </style>