<div id="top"></div>
<div id="middle"></div>
<div id="bottom"></div>
 <style>
  body{
    background: #007065;
    display:grid;
    justify-content:center;
    margin:0px
  }
  div{
    border-left:  125px solid transparent;
    border-right: 125px solid transparent;
  }
  #top{
    border-bottom: 100px solid #FFEECF;
    translate: 0px 50px;
  }
  #middle{
    border-bottom: 100px solid #F5C181;
  }
  #bottom {
    border-bottom: 100px solid #00A79D;
    translate: 0px -50px;
    z-index: -1;
  }
  