<div id="circle">
  <div></div>
</div>
<style>
  body {
    background: #293462;
    display: grid;
    place-content: center;
  }
  #circle {
    width: 200px;
    height: 200px;
    background: #FFF1C1;
    border-radius: 50%;
    overflow: hidden;
  }
   div > div {
    width: 150px;
    height: 150px;
    background: #FE5F55;
    rotate: 45deg;
    translate: 67px 90px;
    box-shadow: -30px 129px #FE5F55;
  }
</style>