<div
  id="a"
  > </div
  > <div
  > </div
  > <div
  > </div
  > <div
  > </div
  > <div
  id="e"
  > </div
  > <div
  id="f"
  > </div
  > <p
  > </p
  > <style
  > body {
  background: #191919;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0px;
}
div {
  width: 10px;
  height: 150px;
  background: #191919;
  border: 5px solid #e08027;
  border-top: 0px;
  border-bottom: 0px;
}
#a {
  margin-left: 15px;
  translate: 0px -50px;
}
#a,
#e {
  height: 50px;
}
#e {
  translate: 0px 50px;
}
#f {
  rotate: 90deg;
  height: 20px;
  translate: -20px;
}
div:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background: #191919;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #e08027, inset 0 0 0 15px #191919,
    inset 0 0 0 20px #e08027;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  translate: -5px -35px;
}
div:nth-of-type(even):before {
  rotate: 180deg;
  translate: -5px 115px;
}
#e:before {
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
}
#f:before {
  translate: -55px 230px;
  rotate: 90deg;
}
p {
  background: #e08027;
  height: 30px;
  width: 50px;
  border-radius: 15px 20px 20px 15px;
  translate: -50px;
  display: grid;
  align-content: center;
  gap: 5px;
}
p:before,
p:after {
  display: block;
  content: "";
  border-radius: 50%;
  background: #191919;
  width: 10px;
  height: 10px;
  margin-left: 30px;
}
