<div > <p > </p > </div > <style > body {
  background: #998235;
  display: grid;
  place-content: center;
}
div {
  width: 180px;
  height: 100px;
  background: #191919;
  border-radius: 10px;
}
p {
  background: #ffffff;
  height: 70px;
  width: 20px;
  border-radius: 5px;
  margin: 25px 5px;
  box-shadow: 25px 0px, 50px 0px, 75px 0px, 100px 0px, 125px 0px, 150px 0px;
  color: #ffffff;
}
p:before {
  display: block;
  content: "";
  background: #191919;
  width: 15px;
  height: 36px;
  translate: 15px -1px;
  box-shadow: 25px 0px, 75px 0px, 100px 0px, 125px 0px;
  color: #191919;
}
