<div > </div > <style > body {
  background: #f3ac3c;
}
body,
div {
  display: grid;
  place-items: center;
}
div {
  width: 100px;
  height: 100px;
  border: 30px solid #998235;
  rotate: 45deg;
  translate: -2px 0.5px;
}
div:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: #1a4341;
  box-shadow: -65px 0px 0px 1px #f3ac3c, 0px -65px 0px 1px #f3ac3c;
}
