<div></div>
<div id="bottom"></div>
<div id="left"></div>
<div id="right"></div>
<style>
  body {
    background: #191919;
    margin: 0px;
    display: grid;
    place-items: center;
  }
  div {
    width: 40px;
    height: 180px;
    background: #FE5F55;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    translate: 0px -110px;
  }
  #bottom {
    translate: 0px 110px;
    rotate: 180deg;
  }
  #left, #right {
    background: #A64942;
  }
  #left {
    translate: -110px;
    rotate: -90deg;
  }
  #right {
    translate: 110px;
    rotate: 90deg;
  }
</style>
