<div></div>
<div id="green"></div>
<div id="yellow"></div>
<style>
  body {
    background: #D25B70;
    display: grid;
    place-items: center;
  }
  div {
    width: 100px;
    height: 100px;
    background: #F7F3DA;
    position: absolute;
    translate: 0px 50px;
  }
  #green {
    translate: -56px -42px;
    rotate: 37deg;
    scale: 0.6;
    background: #6CB3A9;
  }
  #yellow {
    translate: 42px -56px;
    rotate: 37deg;
    scale: 0.8;
    background: #F6DF96;
  }
</style>